# # 以下这句话代表忽略所有csv文件，除了config_template.csv
# *.csv
# !config_template.csv

others/
outputs/
/.ipynb_checkpoints
.ipynb_checkpoints/
.env
.env.example
.DS_Store
node_modules
dist
.vscode
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage
.cache
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.obj
*.pyc
*.pyo
*.pyd
*.class
*.log
*.out
*.pid
